@media  screen and (max-width: 500px) {
    .menu{
        display: none;
        justify-content: center;
        flex-direction: column;
        
    }
   
    .menu a{
        margin-bottom: 1rem;
    }
    .menu a:last-of-type{
        margin-bottom: 0;
    }
    .menuresponsive{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .menuresponsive h1{
        font-size: 1.5rem;
    }
.hamburgesa{
    width: 35px;
        height: 35px;
        background-size: cover;
        cursor: pointer;
   
}

    .cerrado{
        
        background-image: url(../img/menurosa.png);
        
        
    }
    .abierto{
        background-image: url(../img/cerrar.png);
       
    }
    .contacto{
        grid-template-columns: 1fr;
    }
}
@media  screen and (min-width: 1300px) {
    .ropa-grid{
        grid-template-columns: repeat(4,1fr);
    }
}
@media  screen and (max-width: 1000px) {
    .ropa-grid{
        grid-template-columns: repeat(4,1fr);
    }
    
}
@media  screen and (max-width: 1000px) {
    .ropa-grid{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media  screen and (max-width: 620px) {
    .ropa-grid{
        grid-template-columns: 1fr;
    }
    
}
@media screen and (max-width: 310px) {
    .ropa{
        padding: 10px;
    }
    .hamburgesa{
        width: 25px;
        height: 25px; 
    }
    
    
}
@media screen and (min-width: 600px) {
    .sobre-nosotras {
        margin: 10rem 5rem;
        padding: 5rem;
        
    }
}
